<footer id='footer'>
  <!-- <img src='https://aquariuminformer.com/wp-content/uploads/2020/08/white-laurel-leaves-png-png-image-917849.png'> -->
  <a href="/">
    <p class='logo' data-text='aquarium informer'>
      ai<span style='color:#E09900'>.</span>
    </p>
  </a>
  <p>aquariuminformer.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.
  </p>
</footer>
